body {
  background: #0b2d5c;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  padding: 15px;
  text-align: center;
}

h1 {
  margin-top: 10px;
}

h2 {
  margin-top: 25px;
}

button {
  width: 100%;
  padding: 14px;
  margin: 6px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  background: white;
  color: #0b2d5c;
}

.painel {
  margin-top: 25px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  font-size: 18px;
}
