body {
  font-family: Arial, sans-serif;
  background: #f2f6ff;
  margin: 0;
  padding: 0;
}

header {
  background: #0033a0;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

button {
  background: #0033a0;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
}
.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  background: #0a2e66;
  margin: 6px 0;
  padding: 6px;
  border-radius: 6px;
}

.gratis {
  margin-top: 10px;
  font-weight: bold;
  color: #00ffcc;
}
