body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0e1621;
  color: white;
  text-align: center;
}

header {
  background: #0b3fa5;
  padding: 20px;
}

.card {
  background: #111;
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

button {
  background: #0b3fa5;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #092f7a;
}

.gratis {
  margin-top: 15px;
  font-weight: bold;
}
