body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0b1c2d; /* azul escuro */
  color: white;
}

header {
  background-color: #0d47a1;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
}

button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #1565c0;
}

small {
  display: block;
  margin-top: 15px;
  opacity: 0.7;
}
